@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    display: flex;
    height: 200vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #71b7e6, #9b596b);
}

.container{
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}

.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative
}

.container .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 3px;
    background: linear-gradient(135deg, #71b7e6, #9b596b);
}

.container form .user-details{
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

.container form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% - 20px);
}

.container form .user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.container form .user-details .input-box input{
    height: 45px;
    width: 100%;   
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all .03s ease;
}

.container form .user-details .input-box input:focus,
.container form .user-details .input-box input:valid{
    border-color: #9b596b;
}

form .radio-details .radio-title{
    font-size:20px;
    font-weight: 400;
}


form .radio-details .category{
    display: flex;
    width: 100%;
    margin: 14px 0px;
    justify-content: space-evenly;
}

.radio-details .category label{
    display: flex;
    align-items: center;
}

.radio-details .category .dot{
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
    transition:  all .03s ease ;
}



#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,

#dot-1-senior:checked ~ .category label .one,
#dot-2-senior:checked ~ .category label .two,

#dot-1-partner:checked ~ .category label .one,
#dot-2-partner:checked ~ .category label .two,

#dot-1-phone:checked ~ .category label .one,
#dot-2-phone:checked ~ .category label .two,

#dot-1-multi:checked ~ .category label .one,
#dot-2-multi:checked ~ .category label .two,

#dot-1-internet:checked ~ .category label .one,
#dot-2-internet:checked ~ .category label .two,

#dot-1-security:checked ~ .category label .one,
#dot-2-security:checked ~ .category label .two,

#dot-1-backup:checked ~ .category label .one,
#dot-2-backup:checked ~ .category label .two,

#dot-1-protection:checked ~ .category label .one,
#dot-2-protection:checked ~ .category label .two,

#dot-1-tech:checked ~ .category label .one,
#dot-2-tech:checked ~ .category label .two,

#dot-1-tv:checked ~ .category label .one,
#dot-2-tv:checked ~ .category label .two,

#dot-1-music:checked ~ .category label .one,
#dot-2-music:checked ~ .category label .two{
    border-color: #d9d9d9;
    background: #9b59b6;
}

form input[type = 'radio']{
    display: none;
}

form .button{
    height: 45px;
    margin: 45px 0;
}

form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #71b7e6, #9b596b);
}

form .button input:hover{
    background: linear-gradient(-135deg, #71b7e6, #9b596b);
}


@media (max-width: 584px){
    .container{
        max-width: 100%;
    }
    form .user-details ,.input-box{
        margin-bottom: 15px;
        width: 100%;
    }
    form .radio-details .category{
        width: 100%;
    }
    .container form .user-details{
        max-height: 300px;
        overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
        width: 0;
    }
}